body {
    display: flex;
    justify-content: center;
    background-color: rgb(29, 221, 189);
    font:16px/1.6 Arial,  sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  section {
    max-width: 600px;
    height: auto;
    padding: 10px;
    margin-bottom: 20px;
  }

  input {
    width: 410px;
  }
  
  button {
    background-color: #000000;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(2, 2, 2);
  }
  
  button :hover {
    background-color: rgb(29, 221, 189);
  }
  
  #calculate input {
    margin-top: 5px;
    margin-bottom: 20px;
  }
  
  #result {
    visibility: none;
  }
  
  footer {
    position: fixed;
      bottom: 10px;
  }
  
  footer a {
    color: black;
  }
  
  footer a:hover {
    color: #4400ff;;
  }